@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html {
    font-size: 10px;
 }

 body { 
    min-height: 100vh;
    background: url('./images/ZRV7K2aQ.png');
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
}

 h1{
    font-size: 4rem;
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    transform: translateY(20.7%);
}
span{
    color: grey;
}

.nav ul{
    width: auto;
    margin-top: 8px;
    transform: translateY(20.7%);
}

.nav li{
    float: right;
    display: inline-block;
    padding: 15px 30px;
    transform: translateY(20.7%);
}

.nav a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    
}

a:hover{
    color: grey;
    transition: 1s;
    transform: scale(1.005);
}

figcaption{
    margin-left: -1%;
    color: whitesmoke;
    font-size: 290%;
    transform: translateY(-722.7%);
}

 table.timetable {
    margin-left: 3%;
    transform: translateY(48.7%);
    border: 0px solid #948473;
    background-color: #FFE3C6;
    width: 93%;
    text-align: center;
    font-weight: bold;
  }
  table.timetable td, table.timetable th {
    border: 1px solid #948473;
    padding: 7px 10px;
  }

  table.timetable tbody td {
    font-size: 18px;
  }
  table.timetable thead {
    background: #948473;
    background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
    background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
  }
  table.timetable thead th {
    font-size: 20px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #948473;
  }
  table.timetable thead th:first-child {
    border-left: none;
  }

  table.grade {
    margin-left: 5%;
    border: 6px solid #948473;
    transform: translateY(200%);
    background-color: #FFE3C6;
    width: 90%;
    height: 119px;
    text-align: center;
    font-weight: bold;
  }
  table.grade td, table.grade th {
    border: 1px solid #948473;
    padding: 4px 4px;
  }
  table.grade tbody td {
    font-size: 18px;
  }


 
  
