@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html {
    font-size: 10px;
 }

 body { 
    min-height: 100vh;
    background: url('./images/ZRV7K2aQ.png');
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
    overflow-y:hidden;
}

 h1{
    font-size: 4rem;
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 1px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    transform: translateY(20.7%);
}
span{
    color: grey;
}

.nav ul{
    width: auto;
    margin-top: 8px;
    transform: translateY(19.7%);
}

.nav li{
    float: right;
    display: inline-block;
    padding: 15px 30px;
    transform: translateY(19.7%);
}

.nav a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    
}

a:hover{
    color: grey;
    transition: 1s;
    transform: scale(1.005);
}

.img1 {
    margin-left: 3%;
    transform: translateY(45.7%);
}

.img1 img:hover {
    transform: scale(1.15);
    transition: 1s;
    color: white;
}

.img2 {
    margin-left: 8%;
    transform: translateY(-184.7%);
}

.img2 img:hover {
    transform: scale(1.15);
    transition: 1s;
    color: white;
}

.map{
    margin-left: 62%;
    transform: translateY(-52.7%);
}

figcaption{
    color: whitesmoke;
    font-size: 190%;
}

.map img:hover {
    transform: scale(1.15);
    transition: 1s;
    color: white;
}

.text1 {
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    width: 1000px;
    transform: translateY(-245.7%);
    margin-left: 29%;
}

.text1 a{
    color: blanchedalmond;
}


 .text2 {
    color: whitesmoke;
    text-align: left;
    width: 900px;
    font-size: 2rem;
    margin-left: 45%;
    transform: translateY(-83.7%);
    font-family: 'Dosis', sans-serif;
    transition: 1s;
 }

